* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: crimson;
}

button:active {
  scale: 0.95;
  background-color: darkcyan;
}
h1 {
  font-size: 70px;
}
.card {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
