* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
     height: 100%;
     width: 100%;
     background-color: black;
     /* display: flex;
     flex-direction: row;
     align-items: center; */
    overflow: hidden;
}
button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: crimson;
     margin: 50px;
}

button:active{
    scale: 0.95;
    background-color: darkcyan;
}
h1{
     margin: 40px;
     font-size: 30px;
}